push constant 19
push constant 25
push constant 13
call min 3 
function min 0 
push argument 0
push argument 1
lt
if-goto CHECK_FIRST
goto CHECK_SECOND
label CHECK_FIRST
push argument 0
push argument 2
lt
if-goto FIRST
goto THIRD
label CHECK_SECOND
push argument 1
push argument 2
lt
if-goto SECOND
goto THIRD
label FIRST
push argument 0
goto END
label SECOND
push argument 1
goto END
label THIRD
push argument 2
goto END
label END
return